[2022-01-05 00:51] mekkim opened #2 "Ability to Choose Mask Sizes When Requesting"
When requesting masks, allow user to input number of masks of each size.  Initial sizes can be "regular" and "small".  Potentially other sizes can be added later.

Example:

Request:  20 x Mask (Regular) + 20 x Mask (Small)

[2022-01-05 00:53] mekkim opened #3 "Add GoFundMe Embedded Button"
Add GoFundMe embedded button on website.  [Instructions here](https://support.gofundme.com/hc/en-us/articles/203604554-Adding-a-GoFundMe-Widget-to-a-Blog-or-Website)

[2022-01-05 00:54] mekkim opened #4 "Set up Patreon"
Set up Patreon account to accept recurring donations to project.

[2022-01-05 00:54] mekkim commented on #4
Patreon account has been created and submitted for review by the Patreon mods.  Waiting for response for page to go live.

[2022-01-05 00:55] mekkim opened #5 "Setup Stripe Account"
Setup Stripe account to receive donation payments.

[2022-01-05 00:58] mekkim opened #6 "Look Into Shopify Charity Donation Options"
Look into Shopify charity donation options and other integrations that might be useful for the Donate A Mask Project.

[2022-01-05 01:04] mekkim commented on #4
Patreon account confirmed by mods and is [now active](https://www.patreon.com/donatemask).

[2022-01-05 01:04] #4 closed

[2022-01-05 01:07] mekkim opened #7 "Add Patreon Button on Website"
The "Become a Patron" button for the Donate A Mask Project is now active.  It can be added with the following code:

[code]

[2022-01-05 01:41] mekkim commented on #5
Stripe account has been setup and is live and ready to accept donations.

[2022-01-05 01:41] #5 closed

[2022-01-05 01:43] mekkim opened #8 "Integrate Stripe Into Website"
Stripe account has been set up and 6 "products" (3 one-time and 3 monthly recurring) have been set up for 1, 10, and 20 "mask" donations respectively, at the $2.50CAD multiplier rate.

Instructions on how to incorporate into the website [are here](https://support.stripe.com/questions/how-to-accept-donations-through-stripe)

[2022-01-05 01:43] mekkim commented on #8
@HaiderZaidiDev and @devarsh19 have been given "Developer" access to the Stripe account using their @donatemask.ca email addresses.

[2022-01-05 17:41] yabenatti commented on #6
For the Non Profit Organization (NPO) discount, the org needs to be verified and a discount will be applied, but it has to be done through support:
https://www.shopify.ca/contact?utm_campaign=Guru+ASK&utm_medium=forum&utm_source=social

As for the payments, it does have Shopify Payments, but it requires one of the plans (in this case, it would be the NPO store front)
https://www.shopify.com/paymen

[2022-01-05 17:41] #6 closed

[2022-01-05 17:50] mekkim opened #9 "Add Ability To Request on Behalf of Organization"
When requesting masks, split into two options:

1. Request as an individual
2. Request on behalf of an organization

The first one (individual) is the default, "as it is now".  The second one (on behalf of an organization) can have an extra field in addition to "requestor name" for "organization name".  Another field can also be added for "nature of organization" so that we can track the "type" of

[2022-01-05 17:56] mekkim opened #10 "Set up Android App"
Just need a basic app framework that accesses the same website front-end/back-end that can be put in the Google Play Store.  Hopefully the React template will work fine in mobile.  Need someone who is familiar with Android app packaging process and testing to jump through those hoops.

Input/comments/suggestions welcome from those with Android app experience.

[2022-01-05 17:58] mekkim opened #11 "Set Up iOS App"
Lower priority than Android app.  If/when it makes sense to deal with the headaches of the Apple ecosystem, we can work on releasing an iOS app as well.  Same idea as Android app (same React front-end + back end as the main website, just packaged for mobile).

Comments/advice/thoughts from those with iOS app packaging experience welcome.

[2022-01-05 17:59] yabenatti commented on #10
My suggestion is to set up a React Native app, this way you'll have an open gate if you wanna release an iOS app one day.

@HaiderZaidiDev do you know if you can set up the website as **React Native Web**? So it would be the same code base for all the platforms?

Since it's mostly a static UI talking to an API, I think it can be done this way.

[2022-01-05 18:00] mekkim commented on #10
I think @HaiderZaidiDev was smart and foresaw this when he selected the website template.  I recall him mentioning that it was React (not sure about "Native Web" part).  Hopefully it aligns!

[2022-01-05 18:56] HaiderZaidiDev commented on #10
Hey!

Yeah I decided to go with React because I thought it'd be easy to set it up the site on React Native so we can easily deploy to iOS and Android. Don't think the current template has a React Native version, but it shouldn't be to difficult to recreate a similar front-end based on what we have; then we can just link the API and we're good to go.

[2022-01-06 20:51] HaiderZaidiDev commented on #7
Solved in linked pull request.

[2022-01-06 20:51] #7 closed

[2022-01-06 20:51] HaiderZaidiDev commented on #3
Solved in linked pull request.

[2022-01-06 20:51] #3 closed

[2022-01-08 21:42] #2 closed

[2022-01-08 21:45] #9 closed

[2022-01-19 04:18] HaiderZaidiDev commented on #8
Closed in merge request, please see "stripe-integration" branch.

[2022-01-19 04:18] #8 closed

[2022-01-24 00:13] mekkim opened #19 "TEST issue for Kanbanize Integration"
This is a test issue for kanbanize integraiton. Please ignored. #6

[2022-01-24 00:22] #19 closed

[2022-01-24 00:22] mekkim commented on #19
Test complete.

[2022-01-24 00:23] mekkim opened #20 "Second TEST for Kanbanize - Please ignore"
Testing kanbanize card creation with #type "Website Design"

[2022-01-24 00:25] mekkim commented on #20
Test complete

[2022-01-24 00:25] #20 closed

[2022-01-24 00:26] mekkim opened #21 "TEST THree Kanbanize now with Website Design Label to Type"
Testing of Kanbanize will set the type automatically if the Website Design label is selected

[2022-01-24 00:27] mekkim commented on #21
Test complete.  This makes it work!

[2022-01-24 00:27] #21 closed

[2022-01-24 00:29] mekkim opened #22 "Add Fourth Status Value"
The fourth value can be "fulfilled" number.  It can just be a sum of the all requested numbers (both sizes) when the tag "fulfilled" is set to true.

[2022-01-24 00:31] mekkim opened #23 "Adding to donation amount when donation is through alternate means"
Need some means of incrementing the "number of donated masks" when a donation comes in from a means that isn't tracked on the website.  For example, someone sends a donation via email transfer.

Could also just be done via backend interface.  Would only be for one of us to use.

[2022-01-25 02:36] mekkim opened #24 "Add Thank You Page and Confirmation Email After Donation"
Add Thank You Page and Confirmation Email After Donation

[2022-01-28 03:34] mekkim opened #25 "Split Address Field Into Multiple Fields"
People are only putting their street addresses in the address field and forgetting city, province, postal code.  It might be easiest if we /prompt/ people to enter these things by having separate fields for them.

1. Street address
2. Apartment/Unit (Optional)
3. City
4. Province
5. Postal code

[2022-01-29 02:53] mekkim opened #26 "Add Paypal Donation Option to Website"
The corporate Paypal account has been setup.  The code below now allows for donations via Paypal directly.  Can be placed either on the main donatemask.ca page or in a sub page if people click Paypal for donation option. I leave it up to smart UI/UX folk to decide how:
[code]

[2022-02-03 00:53] mekkim opened #29 "Correct Buy Me A Coffee Button Target Link on Website"
Button for Buy Me A Coffee currently only points to https://www.buymeacoffee.com/ - It should point to https://www.buymeacoffee.com/donatemask

[2022-02-03 00:56] mekkim commented on #29
I've already fixed it in /dev/, so next push to /prod/ should get it.

[2022-02-04 01:45] HaiderZaidiDev opened #30 "Summary page footer distorted"
Footer for the summary page's is higher than it should be, looks like it's being propped up by the Google Ad banner, for those with ad blocker, it looks like it's floating in the middle of the page. Attached screenshot demonstrating.

![image](https://user-images.githubusercontent.com/45272003/152458803-203aefe0-c00b-45f9-95a3-de9a623033ca.png)

[2022-02-04 04:40] mekkim commented on #30
I've changed the ad settings to disable anchor ads (the one at the bottom) that is sometimes covering the footer.  However, I'm not sure it's related to what's happening with the footer floating.  Let's see if it is fixed.  It'll take about an hour for Google to change the Ad algorithm.

[2022-02-04 04:42] mekkim commented on #23
I've done this manually for the two (40 + 40) mask donations by just cloning entries for them and updating them.  Eventually we can find a way to automate it.

[2022-02-04 04:43] mekkim opened #31 "When Clicking Submit on Request Page Redirect to Confirmation"
Major issue here is that it's not obvious if the request went through so people are clicking submit multiple times and creating multiple entries.
There needs to be a "on-submit" action that redirects them to a confirmation page.

[2022-02-04 04:46] mekkim opened #32 "Create Documentation of Process to Generate Code from Repo and Push Live"
Mekki is old and rusty so could use some technical documentation that walks step by step on how to use the CI/CD pipeline that we are working on setting up to generate the code and push it live. Alternatively, a nice step by step on how to do it on local machine would be handy.  Also good for newcomers.

[2022-02-04 04:47] mekkim opened #33 "Create HOWTO Documentation For Replication of Project"
If someone wanted to snarf the whole project and replicate it in their own jurisdiction with their own payment providers, suppliers, backend, etc., how would they do that?  Eventually we'll want to create some nice documentation to help people make good reuse of this project.

[2022-02-04 23:50] mekkim opened #34 "Summary Page Displaying All 0s And No Messages"

[2022-02-05 18:17] #22 closed

[2022-02-05 21:25] mekkim opened #35 "Request Button in Second Box of Summary Page Not Working"
On the summary page, clicking the request button on the "Total Mask Requests" box has no effect.  Should redirect to https://requestmask.ca.

[2022-02-05 21:29] mekkim opened #36 "Request Has Gone Through Confirmation Happens Even if Database Is Down"
While database was down recently, noticed that when submitting a request, the message "Thank you! Your request has been received!" pops up even though nothing was written to the database.  We should have an actual validation that the request made it to the database before confirming to the user.  This bug can be fixed when also adding a redirect to a thank you page on submit instead of keeping the

[2022-02-06 20:50] Sync271 commented on #36
Can I work on this? If yes, do you already have a "Thank You" page in mind? If not we can use the same pop up to just tell -"Something went wrong" or "Our Servers are Down for Maintainance"

[2022-02-06 20:56] mekkim commented on #36
Sure! Go right ahead.  There's a separate open issue for the thank you page which could be merged.  No specific design in mind.  Flexible!  Go nuts!

[2022-02-07 12:19] Sync271 opened #39 "Number inputs to have only inputs that are >= 0"
This has to be fixed in both request and donate
![image](https://user-images.githubusercontent.com/67158080/152786675-5ee0ed82-7b8e-4701-aa52-d1cffd8551f1.png)

[2022-02-07 23:46] #36 closed

[2022-02-08 03:11] JessEBuchanan commented on #34
Is this still an issue or has it been addressed? When I go to the summary page, I see values for the # donated, requested, and unfunded. I also see the inspirational and thank you messages.

[2022-02-08 03:13] mekkim commented on #34
I think this was fixed by the DB reboot on the weekend.  Closing.

[2022-02-08 03:13] #34 closed

[2022-02-08 04:48] #35 closed

[2022-02-08 04:48] #26 closed

[2022-02-08 04:49] #39 closed

[2022-02-08 04:50] devarsh19 commented on #39
Good catch @Sync271 🎉

[2022-02-10 06:20] mekkim commented on #30
Looks resolved in latest push.  Thanks!

[2022-02-10 06:20] #30 closed

[2022-02-10 06:21] mekkim commented on #29
Seems to have not made it in the latest push. Reopening.

[2022-02-10 06:28] mekkim opened #45 "Buttons Sometimes Disappear When Clicking Between Pages"
Seems to have something to do with the rapid middle-frame only refresh of the website. It doesn't refresh all of the buttons so some of them are missing when clicking between sections of the site. Refreshing fixes it temporarily, but clicking between sections makes them disappear again.

[2022-02-10 21:38] Sync271 commented on #45
Hey @mekkim, can you give more context or post a screenshot that might help?

[2022-02-10 21:49] mekkim commented on #45
Steps to reproduce (Chrome desktop, 98.0.4758.82 (Official Build) (64-bit)): Visit https://donatemask.ca -> Click "request" at the top toolbar -> Click "donate" at the top toolbar.  The icons won't load correctly per the screenshot attached.

![Screenshot](https://user-images.githubusercontent.com/9969062/153502128-c5502cf0-b1ce-4cce-8c8f-b34f9cc10faf.png)

[2022-02-11 23:17] #25 closed

[2022-02-16 01:08] mekkim commented on #45
I came across the following blog post which might explain the problem: https://stackoverflow.com/questions/27928372/react-router-urls-dont-work-when-refreshing-or-writing-manually

[2022-02-16 01:12] mekkim opened #46 "Scroll Restoration When Switching Pages"
I'd like to validate that we have the scroll restoration working correctly as I think it might be responsible for why the Google Ads screw up sometimes above/below the menu bar: https://v5.reactrouter.com/web/guides/scroll-restoration

If we're following the principles in that guide correctly then it's something else breaking the ads.

[2022-02-16 14:27] JessEBuchanan commented on #31
I finally had some time to work on this today, but I noticed we do have a message that appears after a request goes through. Not sure if that is new since I last pull/fetched but just want to check if we still want a full page redirect to confirm the request has gone through.

[2022-02-16 19:10] mekkim opened #47 "Shift server.js to Run Using Passenger Instead of PM2"
Per recent troubleshooting, we've discovered that server.js (the MongoDB webserver-side API management server) gets killed by the Dreamhost Shared server zombie process tracking service periodically because daemon processes launched by PM2 are not permitted on Shared hosting.  However, there is a solution for MERN (Mongo, Express, React, Node.js) applications like ours, which is to use Passenger.

[2022-02-16 19:14] mekkim commented on #47
Adding collection of threaded comments from Slack for reference:

-------------------------
[Haider] Awesome, sounds like a great step going forward. I can touch base with Devarsh to see how we can refactor the file structure to work with Passenger if needed

[Mekki] I suggest we adjust the structure so that server.js is in the app.js location and file name expected by Passenger, and then we enabl

[2022-02-16 19:21] mekkim commented on #31
Given that even with the new message popup we're still getting a lot of duplicate submissions (one person submitted 5 times in a row yesterday), yes, please, I'd still like a full redirect so that it's impossible to double-click the submit button accidentally, which still happens with the popup.

[2022-02-16 19:35] JessEBuchanan commented on #31
Got it, should be close to done on it. Just having a little trouble getting it to actually go to the confirmation page :/

[2022-02-19 10:16] Sync271 commented on #31
Hey @JessEBuchanan , if you need any help just make a PR and just mention what you need help with.

[2022-02-24 16:48] JessEBuchanan commented on #31
Thanks, I might do that soon if I can't figure out this last piece. Between only finding a few hours here and there to work on it and learning as I go, progress is going slower than I had hoped :/

[2022-02-24 19:45] JessEBuchanan commented on #31
New pull request to merge code to dev that will implement the confirmation page and redirect for mask requests.

[2022-03-01 21:56] mekkim opened #51 "Add Postal Code to Database as Own Field in Addition to Existing Address Field"
Currently (thanks @JessEBuchanan!) the various fields for the address are collected from the request form and then assembled into a single address field and pushed into the database.  Please add an additional push, as its own database entry, of just the postal code alone.  That way each database request entry will have both "address" (full, including postal code) and "postal code" (just postal cod

[2022-03-01 21:59] mekkim commented on #51
Hey @Sync271. It looks like the above github-action bot may have been an unintentional side effect of adjusting the tree structure?

[2022-03-01 22:08] Sync271 commented on #51
Will look into it soon!

[2022-03-01 22:14] Sync271 commented on #51
@mekkim , so I know what's causing the issue but I am not on my computer now so can't really fix it. The problem is this file: https://github.com/mekkim/donatemask/blob/main/.github/workflows/main.yml

You could either delete it entirely or modify it to our needs, I'll leave that for you to decide. Anyways, that file specifies an "issue structure/pattern" that needs to be followed for every issue

[2022-03-01 22:25] mekkim commented on #51
I've changed the main.yml file to main.ymlDISABLED.  That should prevent it from executing (I hope!) Reopening issue.

[2022-03-01 22:26] mekkim commented on #47
Changes by @HaiderZaidiDev seem to have this running on Passenger as intended.  Closing as completed.  Great work!

[2022-03-01 22:26] #47 closed

[2022-03-01 22:27] mekkim commented on #29
Went live in latest push.  Thanks!

[2022-03-01 22:27] #29 closed

[2022-03-01 22:29] mekkim commented on #31
It's working! Gerat job, @JessEBuchanan!  Closing as complete.

[2022-03-01 22:29] #31 closed

[2022-03-01 22:31] mekkim opened #52 "Add Sponsors & Partners Page"
As we start receiving sponsorships/partnerships, we can add a page to showcase their logos.  Can be based on the about us page using a similar structure with logos instead of headshots and links to their online presences.

[2022-03-01 22:33] mekkim opened #53 "Update FAQ Content and Formatting"
FAQ content needs updating given activities of past 8 weeks.  Format also currently has it centered which looks a bit odd with carriage returns, so could be adjusted to be a bit easier to read.

[2022-03-02 00:21] JessEBuchanan commented on #51
I should be able to do this before the weekend. Though just wondering if something will need to be changed on the database end to accept a new field? Or is it flexible enough to have the new requests have the new separate postal code field?

[2022-03-02 00:26] mekkim commented on #51
We did this previously when we added the "fulfilled" field.  All the new entries were created with the extra field and the previous entries had to be manually updated, which is fine for this case too.

[2022-03-02 12:15] Sync271 commented on #52
If you can get me a list of sponsorships/partnerships, I can get started

[2022-03-02 16:28] mekkim commented on #52
Current list (feel free to grab their logos/branding/social media/whatever from their public websites):

- [Desjardins](https://desjardins.com/)
- [Eclipse Innovations](https://eclipseinnovations.com/)
- [Vitacore](https://vitacore.ca/)
- [TTC](https://www.ttc.ca)
- [FDK Supply](fdksupply.com/)

[2022-03-03 20:44] JessEBuchanan commented on #51
I added the new field in he newMaskRequest, merged to main.

I can start with going through the fulfilled requests in the database and adding the postal code field. For unfulfilled requests, can we add the postal code field as they are fulfilled, if I can't get to them before then?

I was also looking at some of the MongoDB documentation, there are things called triggers. Since we need to delete t

[2022-03-03 20:46] mekkim commented on #51
Great work!  Sarah can help with going through the previous requests and adding the field as she has direct access to the DB as well.  Ping her on Slack to coordinate.

If you want to set up a trigger, sure!  That's great!

[2022-03-04 19:27] #52 closed

[2022-03-18 20:40] mekkim opened #56 "Add buymask.ca Page For Selling"
I've registered buymask.ca and achetermasque.ca so that we can offer an additional option where people who don't want to request free masks because they can afford to buy them will buy them from us (instead of other suppliers).  The price is set so that for each box they buy, another box can be sent for free to vulnerable people.  In other words, all of the proceeds from the sales side of the webs

[2022-03-18 22:24] mekkim opened #57 "Upgrade Argon Version for Major Vulnerabilities When Fixed"
I've opened a bug with the Argon team for the breaking dependencies that have major vulnerabilities that need to be dealt with: [https://github.com/creativetimofficial/argon-design-system/issues/153](https://github.com/creativetimofficial/argon-design-system/issues/153) - Once they fix it, we should push the new version on our site.

[2022-03-19 00:51] mekkim commented on #57
Fixed in pull request #58 with changes to packages.json

[2022-03-19 00:51] #57 closed

[2022-03-19 12:30] Sync271 opened #61 "Direct Links to Any of The Routes Crash"
When users use the direct links to [donate](https://donatemask.ca/donate/), [request](https://donatemask.ca/request) or any other route, we get `Cannot GET /request` depending on the route.

[2022-03-19 18:49] mekkim commented on #61
Solution is to append the following code in app.js.  Should now be in main and build with new builds of /server

[code]
Thanks @HaiderZaidiDev!

[2022-03-21 05:27] mekkim commented on #56
Buy page now live!
Ended up using Stripe after 6 hours fighting with the Paypal button generator and getting `<script>` lines to render in React.  UUUUGH!

[2022-03-21 05:27] #56 closed

[2022-03-22 23:19] mekkim opened #66 "Website Previews Don't Work on Facebook, Twitter, etc."
When you compose a post on Facebook, Twitter, LinkedIn, etc., with a link, like donatemask.ca, the sites try to grab a "preview" of the site's page to include as a clickable image on the post.  Currently, none of these previewers are able to render anything to preview for any of the donatemask.ca pages and sub-pages.

This must be a solved problem for React pages but may involve some trickery that

[2022-03-23 07:47] jaas666 commented on #66
You can force this adding [Open Graph Tags](https://ogp.me/)  and [Twitter card tags](https://developer.twitter.com/en/docs/twitter-for-websites/cards/overview/abouts-cards)  to the `HEAD` of the page.

Is that what you mean?

[2022-03-23 23:34] mekkim commented on #66
Could be!  If you know what tags should be added, suggestions or a pull request are most welcome!

[2022-03-24 00:37] jaas666 commented on #66
I'm still not very good with React but here's my suggestion.

## Add the following to the `HEAD` fo the website

[code]

# TODO:
- [ ] Write a description to use for `<meta name="description" content=" **DESCRIPTION HERE** "`, `<meta property="og:description" content=" **DESCRIPTION HERE** ">` and `<meta name="twitter:description" content="** DESCRIPTION HERE **">`

- [ ] Get the image to display

[2022-03-24 21:23] mekkim commented on #45
Resolved by #67

[2022-03-24 21:23] #45 closed

[2022-04-01 23:49] mekkim opened #69 "Page Links in Sandwich Button Broken"
When the page resizes to smaller than the min display width for the page links, they collapse into a sandwich button.  However, when clicking the sandwich button, the menu of page links doesn't display them correctly.

[2022-04-01 23:54] mekkim opened #70 "Replace Temp Blank Mask Icon with DonateMask Circular Icon"
The donatemask.ca webpage still uses the temp generic mask icon that we had before David got us the nicer DonateMask icon.  It should be updated on the page header plus as the browser favicon for the pages.

I've attached the versions I have of the new logo but they're low res which might be fine given it's small on the page.  David has the original source versions if needed.  It probably should b

[2022-04-02 18:50] #69 closed

[2022-04-03 18:36] mekkim commented on #51
Resolved by #72

[2022-04-03 18:36] #51 closed

[2022-04-04 20:47] mekkim opened #73 "Add RATs Requested and Fulfilled to Stats Page"
We need new columns in the stats page for RATs and fulfilled (donated and needing funding not needed as they're all provided by Canadian Red Cross).  The field in the DB is testAmnt.

[2022-04-04 20:47] mekkim commented on #73
Of course, I'm neutral on the visual arrangement of the stats page, so if changing the layout makes more sense, I'm good with that.  FEs go nuts! ^_^

[2022-04-04 21:37] mekkim commented on #53
Resolved by #74

[2022-04-04 21:37] #53 closed

[2022-04-08 00:19] #73 closed

[2022-05-04 20:50] humphd opened #85 "Reduce amount of API data sent to client"
Following-up from work I begin in #83, the amount of data being sent to the client needs to be reduced.  I'm going to do this in 3 stages, so I don't break what's in production now:

1. Add new REST APIs to allow getting stats and messages to be displayed in the web app.  See #86
2. Update the web app to use the new APIs. See #92
3. Remove the existing `get_*` API endpoints. See #96

[2022-05-04 23:50] humphd opened #88 "Automate deployments using GitHub Actions"
It would be nice if merging PRs to `main` would automatically do a deploy.  That would allow iterating without needing to block on manual steps.

From https://github.com/mekkim/donatemask/pull/82#issuecomment-1115143239 I've learned that you're using DeamHost with Passenger, which I've never used before.  In that comment, it lists the following steps:

A GitHub Actions Workflow can be written that

[2022-05-05 00:59] mekkim commented on #88
You are super kind to be doing all of this, @humphd!  Our initial setup was done very hastily and kludge-y.  I greatly appreciate you making it more robust!

1) Touching `/tmp/restart.txt` notifies Passenger to restart the app.js server.  I'm not clear on the details, but basically, even if you replace the files, Passenger doesn't recognize the changes and keeps running an in-memory version.  Each

[2022-05-06 00:00] humphd commented on #88
I spent some time looking into this today, and what I think we should consider is the following.  Use `git` to clone the repo on Dreamhost, then create a `deploy.sh` script that manages updating that repo with what's on GitHub and restarts passenger.  It would be modelled on https://www.phusionpassenger.com/library/deploy/apache/automating_app_updates/nodejs/, specifically:

[code]

The back-end a

[2022-05-06 01:57] mekkim commented on #88
@humphd : Brilliant! Amazing work!  Yes, I'm fine with you going ahead and trying it (assuming we have a rollback plan, of course!)
I think Dreamhost is deliberately leaving it as is to try to get people to migrate to their DreamHost Cloud service (which is much more expensive).  All the docs say "If Shared doesn't have what you need, deploy what you want on DreamHost Cloud).

[2022-05-06 01:58] mekkim commented on #88
The only thing I'm not sure about is if there is access to Passenger commands by user accounts or if that's super-user restricted deliberately so that the `touch` is the only way to interact.  But feel free to try!

[2022-05-07 11:34] Sync271 opened #93 "Summary Page Crashes on Reload"
### Steps to Reproduce
1) Got to <https://donatemask.ca/>
2) Navigate to Summary Page
![image](https://user-images.githubusercontent.com/67158080/167251189-7abc3238-2f11-41e8-846a-972d4ffee436.png)
3) Reload the page and it crashes
![image](https://user-images.githubusercontent.com/67158080/167251199-26f5ce80-6f1b-4d74-8ddc-5c07c22b788d.png)

### Possible Cause/Solution
- in https://github.com/mek

[2022-05-07 11:34] Sync271 commented on #93
CC @mekkim @humphd

[2022-05-07 12:59] humphd commented on #93
Nice catch @Sync271. Looking at the server, the `/home/donatemask/donatemask.ca/node_modules/` folder doesn't contain `stripe`, which make sense with the error above.  I also see a `node_modulesOLD/` folder which *does* contain it.  I wonder if your package-lock.json wasn't in sync (running `npm install` rewrites it).

So I'd say you need to run `npm install` to get the proper dependencies for the

[2022-05-07 13:02] humphd commented on #88
On Slack I see you discussing `prod` vs. `main`.  Can you add details here about how you use it, so we can automate that bit too?

[2022-05-07 13:05] Sync271 commented on #88
From what we discussed, prod is basically a stable branch which we only release once in a while. All PR are made to the main branch which is the development branch.

Main should only be merged into prod if there's a major change.

Hope I understand it right and you can correct me if I'm wrong @mekkim.

[2022-05-07 13:06] humphd commented on #88
@Sync271 so what gets deployed on the server is `main` or `prod`?  That is, you use it as a staging or production deployment?

[2022-05-07 13:07] Sync271 commented on #93
@humphd I also tried running it locally and ran into a similar issue. I see only "..." as placeholder instead of actual numbers. Not quite sure what's causing the issue.

[2022-05-07 13:09] Sync271 commented on #88
@humphd prod should be the one deployed as it's the stable one.

[2022-05-07 13:12] humphd commented on #88
OK, if that's the case, we can have the GitHub Action only do the update on the server when a merge to `prod` happens.

[2022-05-07 13:13] humphd commented on #93
@Sync271 that's due to the production server being down, and the current front-end code always using the production URL (this needs to get fixed in a follow-up as well).  You can try running `npm test` locally to make sure the routes are actually working.

The fix for this is to get `stripe` added back to the dependencies in `node_modules`.

[2022-05-07 13:18] Sync271 commented on #93
Ah yes!
That makes sense, I'm a moron 😅.

[2022-05-07 13:18] humphd opened #94 "Don't hard-code production URL in front-end"
Spin-off from https://github.com/mekkim/donatemask/issues/93#issuecomment-1120207856.  The front-end code currently uses `https://donatemask.ca/` for all requests, making it hard to test changes against the server locally.

For example:

https://github.com/mekkim/donatemask/blob/main/src/views/Summary/index.js#L12-L13

https://github.com/mekkim/donatemask/blob/main/server/routes/index.js#L10

http

[2022-05-07 13:19] humphd commented on #93
I filed https://github.com/mekkim/donatemask/issues/94 to deal with the problem of running this locally. You're not a moron, I had the same thing happen to me while debugging last week :). It's not obvious that it would do this.

[2022-05-07 19:34] mekkim commented on #93
Thanks for catching, friends.  I did run `npm install` and uploaded the newly created `node_module` folder (and renamed the old one).  Not sure why some of the dependencies were missing given that.

[2022-05-07 19:35] mekkim commented on #93
Maybe it has to do with the lock file sync issues mentioned?

[2022-05-07 19:35] mekkim commented on #93
If I merge the old node_modules into the new, will that address the issue for the moment without clobbering anything?

[2022-05-07 19:36] mekkim commented on #93
You're DEFINITELY not a moron. I got caught with this too. And I think @JessEBuchanan did while testing also. It's not obvious. :)

[2022-05-07 20:31] mekkim commented on #93
I merged the old and the new node_modules, overwriting if newer, and it seems to be fine now.  Please let me know if the issue reoccurs?

[2022-05-07 20:31] #93 closed

[2022-05-07 23:33] humphd opened #97 "Slackbot to report on new donations, mask requests"
I notice the team using Slackbots, and I wonder if it would be helpful to have a bot that announced new donations/requests?  If there's interest, I'll see about adding one.

[2022-05-08 19:54] #85 closed

[2022-05-08 19:56] mekkim commented on #97
Cool idea!  I have no objection since it can be put in its own channel and people don't have to be in it if they don't want the noise!
The thing about donations is that right now only donations via Stripe are automatically entered into the database.  The donations via any other platform are then manually entered in the database (usually by me).  So it may be less interesting than announcements of

[2022-05-11 00:33] humphd commented on #94
For reference, this is what needs to be addressed:

[code]

[2022-05-12 17:36] humphd opened #99 "Donations via Stripe not working"
We tried making a donation today, and there are a few issues:

1. The checkbox for `Please agree to the [terms](https://donatemask.ca/terms) and [privacy policy](https://donatemask.ca/privacy) before proceeding.` never changes state.  There is likely an event handler that's toggling whether or not the Donate button works (it changes colour), but it's not obvious.  Having this checkbox actually cha

[2022-05-12 17:58] humphd commented on #99
After fixing 1. and 2. locally (PR coming soon), it looks like 3. is due to a Stripe configuration issue:

This comes from https://github.com/mekkim/donatemask/blob/main/server/routes/stripeapi.js#L14

I'm not familiar with Stripe, but I assume this means you need to have something (a "product") pre-configured on their side.  Can whoever owns the Stripe setup look into this?

cc @mekkim @HaiderZai

[2022-05-12 19:44] humphd commented on #99
Parts 1. and 2. fixed by #100.

[2022-05-15 20:54] mekkim commented on #99
I have reopened the "product" on Stripe and adjusted its "price" from $2.50 "per mask" to $1.25 per masks.  It then created a new price code (cannot change prices without changing price code): `price_1KzoQkCOL3X1doeXOy2OfORX` - The product is now listed as "active", so should respond appropriately.  The trick is submitting an appropriate multiplier of "number of units".

[2022-05-15 20:56] mekkim commented on #99
I've updated the new price API UID in `stripeapi.js` and pushed it live and rebooted the server.

[2022-05-15 20:59] mekkim commented on #99
My hasty tests APPEAR to be working.  Could someone review/confirm, please?

[2022-05-15 21:02] mekkim commented on #99
In my test, the payment succeeded (and shows up correctly in the Stripe dashboard), but just returns to the main donatemask.ca page without any confirmation page.  So it worked, but it's not obvious to the user.  I'm not sure how to capture the "success" response from Stripe and then show a "thank you for donating page".  Help please?

[2022-05-15 21:04] mekkim commented on #99
I can also confirm that the donation did show up in the MongoDB correctly and is appearing in the stats correctly.

[2022-05-15 21:07] Sync271 commented on #99
https://github.com/mekkim/donatemask/blob/38b48ec1710a3d123afe9b0b36e515f91386e539/server/routes/stripeapi.js#L46
We'll have to add a page/component for this route when `params.success == true` or something similar

[2022-05-15 21:09] mekkim commented on #99
Kool!

[2022-05-15 21:42] humphd opened #101 "Indicate that a Stripe donation was successful"
Spin-off from https://github.com/mekkim/donatemask/issues/99#issuecomment-1127031843.  When a Stripe donation goes through successfully, we redirect the user back to `/donate` and add `?success=true`.  We should use this info to replace the Donate form component with a different component that does the following:

- Indicates the donation was successful
- Includes some kind of "thank you" text
- P

[2022-05-15 21:43] humphd commented on #99
Great idea @Sync271, I've filed #101 to deal with this.

[2022-05-15 21:44] mekkim commented on #101
Thumbs up!

[2022-05-15 21:46] Sync271 commented on #101
The sharing option would be a really nice touch!

[2022-05-15 21:48] humphd opened #102 "Include client_reference_id in MongoDB on Stripe success"
According to https://stripe.com/docs/api/checkout/sessions/object, the `client_reference_id` is meant to be a bridge between Stripe's view of what happened with a transaction and our system's database.  Currently we don't include this, but we should.

We get the session in https://github.com/mekkim/donatemask/blob/38b48ec1710a3d123afe9b0b36e515f91386e539/server/routes/stripeapi.js#L35 and then sen

[2022-05-16 00:08] humphd opened #103 "Add Stripe payment integration test"
In #99 we are fixing issues with the Stripe payment integration not working.  Let's add an integration test so we can make sure we don't break it down the road.

Stripe has great [testing support](https://stripe.com/docs/testing), and I think we should be able to use [playwright](https://playwright.dev/) to create a full end-to-end payment test in GitHub Actions.

This will need #94 to get fixed f

[2022-05-16 00:49] mekkim commented on #94
I'm happy to fix this but I'm not sure what to do? What should it be changed to?

[2022-05-16 16:10] humphd opened #105 "Add Google Analytics"
To better understand what is and isn't working, with respect to site traffic, requests, and donations, let's add Google Analytics.

I can do the code side, but there are some account bits that should get done by @mekkim.  Here's the background: [Google Analytics 4](https://support.google.com/analytics/answer/10089681)

Steps we need to take:

1. (@mekkim ) Create a GA4 account, see https://support

[2022-05-17 17:31] mekkim commented on #105
1 & 3 done.  @humphd You should now have admin access to the GA4 account for EBSECan.

[2022-05-17 17:31] #101 closed

[2022-05-17 17:32] humphd commented on #105
@mekkim excellent, thank you!  I'll work on 2 and submit a PR soon.

[2022-05-17 18:14] mekkim commented on #99
Thank you page with links is now working so I think we're good to close this.  Thanks @humphd.

[2022-05-17 18:14] #99 closed

[2022-05-17 18:15] #105 closed

[2022-05-17 20:35] humphd commented on #94
I'll do it, it's not a simple fix.  I'll have a PR for it later this week.

[2022-05-18 18:10] #66 closed

[2022-05-18 18:11] mekkim commented on #24
The thank you page has now been added.  I suppose it's an open question if we want to send automated thank you emails.

[2022-05-18 18:12] humphd commented on #24
I think it's a good idea to consider sending them.

[2022-05-18 18:23] mekkim commented on #70
Looks great on the FAV icon.  I forgot that it's also in the logo at the top bar of the page.  Reopening just to keep track.

[2022-05-18 18:27] mekkim commented on #24
Ok.  I've been sending them manually, so if there's a way to automate it, it'll save me a bunch of time.  Here's the template email I've been sending with attachments.  I update it from time to time as things change:

--------------------------
Dear <name>:

On behalf of all the volunteers and recipients of masks from the Donate A Mask Project Canada--a charity project by Evidence-Based Social Ent

[2022-05-18 18:59] humphd commented on #24
Unless you have this baked into your current DreamHost account, doing this requires using some kind of mail service.  Something like [SendGrid](https://sendgrid.com/pricing/) would give you 100 emails/day for free, which might be enough?  There are lots of players in this space.

[2022-05-18 19:51] mekkim commented on #24
Dreamhost currently handles all of the email for all of the sites.  I'm unsure what features to look for to determine if it's supported.    For example, there are authoresponders (https://help.dreamhost.com/hc/en-us/articles/215022298-Create-an-autoresponder#:~:text=Setting%20up%20an%20autoresponder%20using%20the%20Mailbox%20Manager&text=Log%20into%20https%3A%2F%2Fmailboxes,in%20the%20panel%20exam

[2022-05-18 19:52] mekkim commented on #24
If it's just an SMTP server that's needed, then, yes, that's already included in the Dreamhost account and easy to configure.

[2022-05-21 01:07] #94 closed

[2022-05-21 01:07] #103 closed

[2022-05-21 01:19] humphd opened #112 "Figure out why repo secrets aren't available to CI workflow"
In #111 I've added integration tests, which require access to repo secrets for Stripe API keys.  I had hoped that landing this on `main` would make them available, but clearly there's more to the problem, since it still doesn't work, see: https://github.com/mekkim/donatemask/runs/6533686779?check_suite_focus=true

I'll iterate on this next week and figure out what's happening.  Until then, please

[2022-05-22 20:52] mekkim opened #114 "Prepare Website Source for Fork for Other EBSECan Websites"
I would like to stand up the other websites of the charity (evidencebased.ca, communitycatscanada.ca, communitygardens.ca, etc.) based on the same core as the donatemask.ca website.  I figure the easiest way would be to just fork the project and change the front-end.

However, I don't want to fork in a manner such that future core updates then have to be manually done separately on each fork.  I w

[2022-05-23 00:51] DaunthE1 commented on #114
Bitcoin, Biometrics, Fingerprints & Digital Signatures in the Philippines
#DaunthE1

[2022-05-23 01:42] humphd commented on #114
What do these other sites need to do?  Similar back-end needs (e.g., donation model)?  The reason I ask is that you might consider planning a bit to expand your back-end to support all of them vs. spinning up multiple back-ends.

The front-ends could actually be hosted out of GitHub Pages.  Since you're doing a React build for the site, we could do that in GitHub Actions whenever you merge to `mai

[2022-05-23 20:40] mekkim commented on #114
Thanks, @humphd. This discussion is very helpful and exactly the type of suggestions I needed.

I've gone ahead and created the EBSECan organization and imported the donatemask repository: `https://github.com/EBSECan/donatemask` - I've added you and a bunch of other members.  I guess that means we should shift over to doing the work there now and archive this repository, yes?

[2022-05-23 20:51] mekkim commented on #114
You've nailed it.  They will all need a donation model that will be similar and will use the same payment accounts, etc.  They will all also need a "store-type" model for their respective Charity Stores.  For example, we will be reselling feral cat traps for TNR as part of our fundraising for that part of the charity (we already have supplier accounts and a tentative price list at https://communit

[2022-05-24 18:00] mekkim opened #117 "Unit Tests Fails Looking for Providers"
I'm not exactly sure how the Actions and unit tests work.  My latest push to Main fails unit tests at the `npm install` phase with an error that it can't find `./providers`

Raw logs of first error (it repeats with each entry, always failing to find `./providers`

[code]

[2022-05-24 18:02] humphd commented on #117
Did you `npm install` in `server/` too, or only the root?

[2022-05-24 18:30] mekkim commented on #117
I did both.

[2022-05-24 18:32] mekkim commented on #117
This is the relevant diff from the `npm audit fix` after `npm install` in `server/`

https://github.com/EBSECan/donatemask/commit/2685ab08a8074c2e75beac48abed1a23b66dc4e5

[2022-05-24 18:32] humphd commented on #117
Ah, there wasn't a PR, so I didn't see this go in.  Let me pull it and see locally...

[2022-05-24 18:37] mekkim commented on #117
My bad. Sorry.  I pushed directly.

[2022-05-24 18:41] #117 closed, assigned to nobody

[2022-05-24 18:46] mekkim commented on #61
This issue has reappeared.  Something has changed the above workaround.  For example, `requesttest.ca` no longer resolves correctly.

[2022-05-24 18:53] humphd commented on #112
This is fixed!

[2022-05-24 18:53] #112 closed

[2022-05-24 18:53] #61 closed

[2022-05-24 20:30] humphd commented on #102
It turns out this won't work with how we do it, since we don't have anything to reconcile this against on our side, closing.

[2022-05-24 20:30] #102 closed

[2022-05-30 17:38] #70 closed

[2022-05-30 17:42] mekkim commented on #46
Closing as this is probably a non-issue.

[2022-05-30 17:42] #46 closed

[2022-05-30 17:57] humphd commented on #46
It's a big issue with React SPAs in general.  There aren't any great solutions (that I'm aware of), only hacks.  You have to manually store the the position and use hooks to try and scroll to it with JS.  Every time I've done it, it feels close but also wrong (i.e., not what the browser would do).

[2022-05-31 19:57] mekkim opened #124 "Set Up French Version of Website"
@mekkim can do the translations of all the page contents to French, once the back-end/front-end structure to have a dual-language website needs are set up.  Apparently the core React structure the site was built upon does have multi-language support.  If we can get that up and running, the French domain names can then be pointed to the French pages.

[2022-05-31 19:58] humphd commented on #124
Such a great idea!  One process suggestion for this.  Start by extracting all the strings from the code for English.  That is, localize for `en-CA` to start, and when that works, we can add `fr-CA`.

[2022-05-31 20:00] mekkim commented on #124
When you say "extract all the strings from the code", could you explain a bit more how to do this?  I'm happy to get started.

[2022-05-31 20:07] humphd commented on #124
The process usually goes like this:

- pick an internationalization framework. There are a few for React.  Choosing this will help to determine how to do the next steps.  Often you have a directory of JSON files for each lang, so our first one could be for English
- add some localized routing to handle picking the correct language choice, either from the browser, headers, or URL.
- extract the exi

[2022-05-31 20:15] humphd commented on #124
I can't do more with the French than say `merci` after you do it, but I can work on the infrastructure to support the work.  I'll file some issues.

[2022-05-31 20:15] mekkim commented on #124
Ok.  What would really help me is a dummy syntax example (I learn best with examples) of how to do this.  i.e., let's say I come across `"<English text A1>"` in the code, what do I replace it with?  What's the syntax for the reference?

And then for the dereference, in the JSON file, what's the key:pair syntax?  ie., is it `{"English": {"A1":"<English text A1>", "A2": "<English text A2>"}` and so

[2022-06-08 18:51] mekkim opened #126 "Add Demographic Checkboxes On Request Form"
I met again with Canadian Red Cross and they have asked us to gather more demographic data of requestors so that they can justify that we qualify under the strict parameters of their program agreement with Health Canada.  I suggest the following:

On the request form, below the `Choose Requestor Type` pull list, add "This request is by or for one or more of the following:" followed by checkboxes f

[2022-06-12 21:27] mekkim opened #128 "Automated Deletion of Personal Information After Order Fulfillment"
In order to protect the privacy of requestors, and comply with privacy law, once private information is no longer required, it should be deleted and the remaining data anonymized.  I suggest some sort of automated trigger that happens X amount of time after the `requestFulfilled` field gets set to `true` (7/10/15/30 days maybe? Leeway to account for shipment tracking inquiries) that deletes the fo

[2022-06-12 21:36] mekkim opened #129 "Promotional Poster Creation"
We've had requests from supportive organizations for posters to put up in their operations to promote our work.  For example, a pharmacist in Quebec wanted posters so he can direct his lower-income clients where to get free masks and tests.
I suggest two sizes:
1. 8 1/2" x 11" (standard letter printer size) that we can send as PDFs for people to print and put up themselves, and
2. 11" x 17" (tablo

[2022-06-13 21:57] mekkim opened #130 "Add CO2.click Models C & D to our Charity Store"
Our friends at CO2.click have offered to have us distribute their Model C CO2 detector and desk mount as a kit on our charity store.  It's all Canadian designed and assembled and less expensive than the ARANET 4 (not Canadian) with similar functionality.  Plus, they're open source friendly so there's discussion of a subsequent "Maker" version that's all open source in the future!

We can add it to

[2022-06-13 23:19] NetForces commented on #130
If you have any questions I'm Andre the guy behind co2.click ;-)

[2022-06-14 00:17] humphd commented on #130
Great!  I'll work on this (implementation) and get @emmaelaine to help me figure out the design.

[2022-06-14 00:17] humphd commented on #126
I've done more research, and I think I have a better sense of what's needed.  I'll work on this with @emmaelaine.

[2022-06-14 21:23] humphd commented on #46
#131 is related to this.

[2022-06-16 00:53] humphd commented on #126
A quick update on this to let you know that we're close to having a PR ready to submit.  It's coming soon!

[2022-06-16 23:10] mekkim opened #132 "Add ARANET4 CO2 Monitor to Charity Store"
I've reached a deal with ARANET's main Canadian distributor to get volume discount on the ARANET4 within Canada and have ordered some units.  It's popular online with lots of people interested in it as a "higher end" unit.  It will be a nice complement to the less expensive, Canadian-made CO2.Click.  Details of the ARANET4, specs, images, etc. for the charity store are here: [https://aranet.com/pr

[2022-06-16 23:12] mekkim commented on #132
Direct link to ARANET4 Home datasheet: [https://cdn.bfldr.com/FS48XT6B/at/k9b9wjnv8f455crkp7846j/Aranet4_datasheet_v25_WEB.pdf](https://cdn.bfldr.com/FS48XT6B/at/k9b9wjnv8f455crkp7846j/Aranet4_datasheet_v25_WEB.pdf)

[2022-06-17 00:17] mekkim commented on #130
Since pre-orders are now coming in via Twitter, I've set up the Stripe product link: [https://buy.stripe.com/bIY29Wbu9byL2ZyfZ9](https://buy.stripe.com/bIY29Wbu9byL2ZyfZ9)

[2022-06-17 00:17] mekkim commented on #132
Stripe payment link: [https://buy.stripe.com/28o9Co9m18mz57G9AK](https://buy.stripe.com/28o9Co9m18mz57G9AK)

[2022-06-18 00:09] mekkim commented on #126
I created a couple of test requests with demographics. I don't see the new collection in the database.  Is it possible something didn't sync on the back end?

[2022-06-18 00:14] mekkim commented on #126
Totally my mistake.  I forgot to update some DB components/routes on the live server.  Should be fixed now.

[2022-06-18 00:14] #126 closed

[2022-06-18 17:51] mekkim opened #137 "Add Honeywell Masks to Charity Store"
We received some requests for cup-style actually NIOSH N95 masks and happened to have some in our older stock so we might as well put them up on the charity store for people who want that style.

[https://sps.honeywell.com/ca/en/products/safety/respiratory-protection/disposable-respirators/saf-t-fit-plus-niosh](https://sps.honeywell.com/ca/en/products/safety/respiratory-protection/disposable-respi

[2022-06-18 19:17] mekkim commented on #137
Resolved by #138

[2022-06-18 19:17] #137 closed

[2022-06-19 02:03] mekkim commented on #130
I've discussed with @NetForces.  We'll also list the Model D, but have it as a wall-mount kit instead of desk-mount kit.  It's also black instead of white.  And has no cloud wifi/cloud connection (which some people like to not have!).  Details: [https://www.co2.click/ecommerce/en/Model-D.html](https://www.co2.click/ecommerce/en/Model-D.html).  We're discussing price presently.

[2022-06-20 19:48] mekkim commented on #132
Stripe payment link for the charity store (no free anti-theft wall mount included): https://buy.stripe.com/cN29Co9m18mz1VufZb

[2022-06-20 19:51] mekkim commented on #130
Model D with wall-mount adapter kit: [https://buy.stripe.com/8wMeWI2XD5an43C3cq](https://buy.stripe.com/8wMeWI2XD5an43C3cq)

[2022-06-20 23:05] #130 closed

[2022-06-20 23:05] #132 closed

[2022-06-20 23:06] mekkim commented on #128
Upon chatting with @humphd, given we now store demographics in a separate catalogue so that it's not associated with requests, we can simply put the mask and test amounts in the demographics catalogue and it becomes the stand-alone-de-anonymized "statistics" catalogue.  So we can simply delete whole requests from the requests catalogue at, say, 30 days after "requestFulfilled" is set to "true".  N

[2022-06-20 23:07] mekkim commented on #128
Is there a way to set a cronjob-like trigger where "requestFulfilled" flipping to "true" starts a 30-day timer to deletion of the whole entry?

[2022-06-20 23:32] humphd commented on #128
Yes, we'll do a cron-style repeating function that runs regularly to do the cleanup.

[2022-06-23 15:19] humphd opened #141 "Visualize the reach of requests across Canada on Summary page"
As the number of fulfilled mask and test requests increases, we have an interesting dataset.  I did an experiment to see what the distribution looks like, and produced this image:

<img width="1151" alt="Screen Shot 2022-06-23 at 11 13 53 AM" src="https://user-images.githubusercontent.com/427398/175334010-3741c236-88ac-4592-9ef6-ccd7c7942803.png">

It's interesting for what it shows, and what it l

[2022-06-23 17:13] humphd commented on #141
I don't want to make it interactive because I don't want to expose, or even hint at, actual data points.  I'm just trying to give a 10,000 foot view of the community affected by the work.

We're hoping to throw away a lot of the data we store for PII anonymity (#128).

[2022-06-23 17:37] Sync271 commented on #141
Yup, I get that we don't want to expose or even hint at actual data points and that is why I thought heatmaps would serve better since we can aggregate based on unique zip codes while not exposing anything more than the zipcode/area.

[2022-06-24 21:55] mekkim commented on #141
I LOVE THIS SO MUCH!  My only suggestion is that we make it Canada-only.  Even if it ends up not being geographically uniform (i.e., we skew province sizes for fit rather than actual size), a centralized Canada-focus for the map fits our Canada-focus of the charity!
With the demographics collection properly updated it will be possible to filter by demographics as well, as a future enhancement.
WOO

[2022-06-24 23:27] humphd commented on #141
I'm not 100% sure how to accomplish the "Canada-only" bit.  I'm aware of 2 options, neither of which is perfect:

1. Define a polygon around the Canadian border, and dim out the rest of the map (e.g. kind of like [this map of France](http://jsfiddle.net/FranceImage/1yaqtx9u/)).  I could get the edges to be cleaner but it will still look like this.
2. Not use map tiles at all, and draw the map as a

[2022-06-24 23:37] mekkim commented on #141
You make good points! I'm all for whatever is easiest.  Getting something up is a great start.  We can refine later if/when we want to optimize the look.

[2022-06-25 19:35] humphd commented on #141
OK, here's how I'm going to approach this.  The code to make this work requires a 35M file of postal code geolocation data, which is too big to run in the browser.  To deal with this, I'm going to generate this image "server side" and we'll load the final product in the front-end.  Because I want to update this regularly (every 8 hours or so), I'll do it as a GitHub Action in a new repo that I'll

[2022-06-25 19:51] mekkim commented on #141
Super duper amazing!

[2022-07-17 03:23] mekkim opened #149 "Debounce Request Form Submission"
Rarely two identical entries get submitted back to back 1 second apart, probably because of an errant double click.  There should be a way to debounce the request submission button so that multiple identical requests in less than 10 seconds or whatever amount can't happen.

[2022-07-17 23:01] #149 closed

[2022-07-17 23:04] mekkim opened #151 "Automatically add donations when store purchases happen"
Store purchases processed through Stripe happen virtually the same way as the donation amounts, which get automatically added to the donations collection.  It should be relatively straightforward to add donation entries when purchases complete the same way.
I'll add the nominal value of "number of masks donated" for each type of purchase on the store to the constants file so they can be uniformly

[2022-07-18 03:17] mekkim commented on #151
#152 adds the constants with appropriate number of masks donated for each purchase based on approximate cost + shipping calculations.

[2022-07-18 16:50] humphd commented on #151
This should be doable via [Stripe Webhooks](https://stripe.com/docs/api/webhook_endpoints).  We'll initiate the checkout flow with Stripe, and they will asynchronously call a route on the server to let us know when it's completed successfully.  I *think* that we'll receive a `checkout.session.completed` event for both the Payment Links and Checkout (i.e., donations) flows.  This means we need to a

[2022-07-18 21:05] mekkim commented on #141
Super duper wooper! Amazeballs!

[2022-07-19 13:18] humphd commented on #141
Confirmed this is working: see automated commits at https://github.com/EBSECan/canada-map-requests/commits/main.  That means I can move forward with using it in web app next.

[2022-07-21 20:08] #141 closed

[2022-07-22 01:26] PaytonthePerson commented on #129
https://www.canva.com/design/DAFFk6SRF0s/k2d6--OI8HzdpqiBEHZWXw/edit?utm_content=DAFFk6SRF0s&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton

[2022-07-22 01:26] PaytonthePerson commented on #129
https://www.canva.com/design/DAFGVLumIXk/Lk0v2aqlPogg8Nu0pi6SnA/edit?utm_content=DAFGVLumIXk&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton

[2022-07-22 01:26] PaytonthePerson commented on #129
![image](https://user-images.githubusercontent.com/108760520/180341842-fb6e38b4-df8a-4f4f-ab3c-39f719763007.jpeg)

[2022-07-22 01:31] mekkim commented on #129
Awesome!  These look great!  I'm excited to start sending these to folk across the country and have your work featured ALL OVER!

[2022-07-22 22:44] mekkim opened #156 "Add Priority Pull List to Request Form"
As Sarah and I are getting overwhelmed by more quests for masks and tests coming in than we can keep up with fulfilling, we've discussed a few options and figured that borrowing from open source bug triage might be a good approach.  We suggest the addition of a priority pull list on the request form where folk scan self-select a priority.  We'll have a legend that explains what each priority level

[2022-07-22 22:57] humphd commented on #156
Sounds like a good idea.  Watching the success of the outreach campaigns, it's clear that setting expectations for what's possible is important.  I'll work on something.

Question: do you also want to include some kind of language above the form that helps people understand what's likely when they make a request (i.e., emphasize this is a volunteer effort, etc)?  If you have thoughts, throw them i

[2022-07-22 23:15] mekkim commented on #156
Sure.  I'm flexible on how we do the info/expectation management.  How about a show-and-tell in a "life of your request" type approach that mirrors the Mozilla bug lifecycle?  Like a behind-the-scenes tutorial of what happens once they hit "submit".  For example:

[code]

We could also add description of how the stats are calculated and gathered and assembled on the summary page for people's inter

[2022-07-23 00:22] mekkim opened #157 "Create Volunteer Contributor Agreement"
Cross-post from Slack as this is a better place for the discussion:
-----
The above (in Slack) chat reminded me that now that we have a sizeable amount of volunteers, doing awesome work like
@PaytonthePerson's posters, we should probably set up a volunteer contributor agreement with descriptions of open source licenses and creative commons licenses under which they agree to license their contribut

[2022-07-23 00:43] Sync271 commented on #157
I've seen a lot of Opensource projects use https://github.com/cla-assistant/cla-assistant.
It's triggered on first PR and runs it as a GitHub action.
Not sure if this is something you're looking for or could help.

[2022-07-25 21:30] mekkim commented on #129
[I MASK FOR v3 i think.pdf](https://github.com/EBSECan/donatemask/files/9184850/I.MASK.FOR.v3.i.think.pdf)
Updated larger mask image with 6 up layout for sticker sheet template.  Great work @PaytonthePerson !

[2022-07-26 00:06] PaytonthePerson commented on #129
Ty! Sry, I forgot to add them to the thread lol

[2022-07-26 15:37] #156 closed

[2022-08-11 19:11] mekkim opened #163 "Add News Section to Website"
Now that we are getting national press coverage, it would be nice to have a news/announcements/etc. page on the site to keep track of them.  Maybe it would be better if it were linked at the bottom of the page so as to not overcram the header?  I leave the UI choices to the experts!

[2022-08-14 20:04] mekkim opened #165 "Update Request Form to Canada Post Software Format"
Now that we're a Canada Post Commercial customer, I have access to software that allows me to mass import addresses and create hundreds of shipping labels at a time.  This saves me a TONNE of time.  It's easiest of the JSON of requests matches the expected format by the Canada Post software.  As such, it would be very handy if we adjusted the form as follows:

[code]

Most of above is already ther

[2022-08-14 20:07] mekkim opened #166 "Add Large Mask Option to Request Field"
We've been receiving an increasing number of special requests for large-size masks. I've been able to source a supply with Canadian manufacturers (same as the small ones - Eclipse Horizon Large) at reasonable prices, so I think it's time we give that option to requestors as well.

It's just the addition of a field: "Number of Large masks" to go with number of small, number of regular, and number o

[2022-08-14 20:09] mekkim opened #167 "Update FAQ with Facial Measurements Guidance"
I posted on Twitter recently a chart that shows how to measure one's face to estimate mask sizing (S, M, L).  It would be handy to add that to our FAQ.

Here's the [tweet with the chart image: ](https://twitter.com/DonateMask/status/1557865206570782726)

[2022-08-14 20:18] mekkim commented on #163
Some initial links to add to the news section when it's up:

[Mekki in National Post discussing motivations of founding the charity](https://nationalpost.com/sponsored/health-sponsored/immune-compromised-individuals-are-embracing-layers-of-covid-related-support-protection-and-treatment)

[Mekki quoted calling out Canadian Blood Services and offering masks from Donate Mask if they reinstate masking

[2022-08-14 23:33] PreciousOlamide commented on #167
Hello, I will like to work on this task if assigned to me.

[2022-08-14 23:34] humphd commented on #167
Go for it @PreciousOlamide.

[2022-08-14 23:35] PreciousOlamide commented on #166
hello, I will like to work on this task if assigned to me.

[2022-08-14 23:36] humphd commented on #166
@PreciousOlamide did you want to fix #167 first?  This one is more complicated.

[2022-08-14 23:37] PreciousOlamide commented on #163
hello, I will like to work on this task if assigned to me.

[2022-08-14 23:47] PreciousOlamide commented on #166
Hello,
I am so glad you assigned me the task
I will work on #166 first

On Mon, 15 Aug 2022, 12:36 am David Humphrey, ***@***.***>
wrote:

[2022-08-14 23:54] PreciousOlamide commented on #166
Hello, I changed my mind and decide to work on #167 first since it might
it's harder

On Mon, 15 Aug 2022, 12:46 am Precious Olamide, ***@***.***>
wrote:

[2022-08-15 11:16] PreciousOlamide commented on #167
Hello,
from the little research I did on mask measurements, it shows that the
width of the mask is the measurement from one cheek bone to the other
cheek bone over the bridge of the nose and the height is the measurement
from the middle of nose bridge to the chin.

The chart you made reference to from twitter does not really do justice to
the above information.
I do not see how 1.38" can be be the

[2022-08-15 19:21] yaswanthtondepu commented on #166
Hello,
I would like to work on this.

[2022-08-15 20:33] yaswanthtondepu commented on #166
Hello, is anyone working on this issue

[2022-08-15 21:43] PreciousOlamide commented on #166
Hello
I am working on it but I need the moderators to answer some of my enquiries before I can continue
Did you notice the size chart on twitter is a bit odd????

[2022-08-16 18:13] yaswanthtondepu commented on #166
Hello @mekkim,
I have done changes and added large masks. I made changes in the front end, back end, and test files. I am sure about the front end part but not about the back end. I can give a pull request if you want to check the code.

![image](https://user-images.githubusercontent.com/26676435/184949497-5e00c171-2d6f-4bc8-abe9-24a08b84985f.png)

[2022-08-16 18:57] mekkim commented on #166
Hi @yaswanthtondepu,
Looks good!  Yes, create a pull request and tag me for review.
Thanks!
M.

[2022-08-16 18:59] mekkim commented on #167
Hi @PreciousOlamide,
I read the width as not of the /face/ but of just the /mouth/ on that chart.  If you have suggestions of clearer diagrams/pages, feel free to suggest them.

[2022-08-16 18:59] mekkim commented on #129
Adding a note here for myself to do French versions of the designs @PaytonthePerson has done!

[2022-08-16 19:04] mekkim opened #168 "Deploy Actual Full Web Store with Cart & Checkout for Multi-Item Purchase"
Lots of people are reaching out to us confused over the "one-click no-code payment links" where they have to purchase items separately.  They're expecting a standard web store with a "cart" in which you can put items, and then pay for all of them at a checkout.

I'm not sure the easiest way to do this.  Of course I'm all for open source solutions that easily integrate with Stripe and Paypal rather

[2022-08-16 19:48] PaytonthePerson commented on #129
I *sort of* speak French (I did French immersion for gr1-4) so if u want I could do them?
I'm sure there's someone here that speaks French better than me tho lmao I kinda suck :P

[2022-08-16 23:52] yaswanthtondepu commented on #163
HI @mekkim
Which design is good?
A)
![image](https://user-images.githubusercontent.com/26676435/185004184-f8ed7e78-8e4e-4104-8789-6f0076d0c9ed.png)

B)
![image](https://user-images.githubusercontent.com/26676435/185004412-480e02cc-1011-44de-8751-7b61bf8bdcf6.png)

If you have any other ideas, please share them with me. Also, what should be the text under "News" title

[2022-08-17 00:58] mekkim commented on #163
Folks can self select to tasks.  No need to wait for assignment or ask for approval.  Do whatever you find interesting!

[2022-08-17 00:59] mekkim commented on #163
Both look good to me.  I suck at UI stuff so I will defer to others with a better eye for making things look good.  @PaytonthePerson maybe?
I'm neutral on what the news header says.  Maybe take a look at some examples for other charities' news sites?

[2022-08-17 03:07] PaytonthePerson commented on #163
Personally, I like the second one, bc it feels less cramped it think? It would prob look cooler if there were pics of there articles like yk in news sites? Idk what site ur on so idk if that's possible lol
Looks rly good tho! :D

[2022-08-18 01:13] mekkim commented on #166
Great work @yaswanthtondepu!

[2022-08-18 01:13] #166 closed

[2022-08-18 01:13] mekkim commented on #163
Great work, @yaswanthtondepu.  Thanks for the visual review @PaytonthePerson!

[2022-08-18 01:13] #163 closed

[2022-08-18 16:05] mekkim commented on #129
PDF version of current English flyer for easy reference
[Uploading Donate A Mask Poster 8.5x11.pdf…]()
.

[2022-08-18 23:05] mekkim opened #173 "Add Special Causes Donation Option on Main Site"
We've been raising money specifically for CO2 monitors for school teachers across Canada and some folks have suggested we add a feature that allowed them to specifically donate for that cause on the main donation site.  For Paypal, there's a simple way to do that, but I'm not clear on the easiest way to add something like "Dedicate this money to CO2 monitors for Teachers fund".

Perhaps the easies

[2022-08-18 23:08] mekkim opened #174 "Add Way for Donors to Indicate When They Want a Charitable Receipt"
In preparation for completing our charitable status formalities with CRA, soon we'll be issuing charitable donation receipts (retroactively to January 2022).  In order to issue them, we need some information from donors per CRA guidelines.

Donors do not HAVE to get a charitable donation receipt, and some won't want them.  So we should have some way of them flagging that they want one, and if they

[2022-08-20 02:43] mekkim opened #176 "Round Up Request Values When Pushing to Database"
One of the major challenges we're facing with volunteers packing requests as number of requests is escalating rapidly is scaling when requests are arbitrary quantities of masks and tests.  To address this, we're creating "standardized" sizes of packages so that volunteers can pre-create dozens or hundreds of particular types of packages and shipping labels can just be slapped on to them when reque

[2022-08-21 01:08] mekkim opened #178 "Add School and Work Options to Demographics"
Some of the grants we're applying for are interested in the degree to which our program is being used by folks to more safely return to school or the workplace.  As such, it has been suggested we optionally gather that information as part of the demographic data.  I suggest the following addition:

`These masks will be used to return to (checkbox) School or (checkbox) Work (Optional - Please check

[2022-08-24 19:27] humphd opened #180 "Update tests for changes to request form"
In #179 we're adding a bunch of things that aren't yet reflected in the tests.  Let's audit and update the tests to cover it all.

[2022-08-24 19:28] humphd opened #181 "Update report to reflect changes to request form"
In #179 we're adding things to the request form that should get counted in the generated report (e.g., large masks, purpose of request for school or work, etc).

[2022-08-28 19:54] mekkim opened #182 "Create CRBox Step-By-Step Instructions & Videos"
We need our "own" version of instructions on how to build Corsi-Rosenthal boxes, tailored specifically to the materials we provide for them and designed so that they can be followed by a teacher and students in a science class to do it as a class project, etc.

We can start with {https://cleanaircrew.org/boxfanfilterfaq/}[https://cleanaircrew.org/boxfanfilterfaq/] and customize/clarify (big on cla

[2022-08-29 00:38] HaiderZaidiDev commented on #178
Assigned myself to update, but looks like this was already done in #179.

[2022-08-29 00:47] HaiderZaidiDev commented on #173
I'm thinking we can add a dropdown menu with these options, then just update the meta data when posting this to Stripe and the database. Then when we're checking the donations we can see their preference for how it's allocated - will start working on this

[2022-08-30 17:40] mekkim opened #183 "Add GeoCoder.ca Automatic Address Validation to Requestform"
GeoCoder has an XML-based API that is available for free to non-profits: [https://geocoder.ca/?api=1]{https://geocoder.ca/?api=1 )https://geocoder.ca/?api=1) for address validation, specifically for Canada.  This is exactly what we need to make sure addresses are auto-completable on the form to help reduce entry mistakes when folks request masks and tests on [requestmask.ca](requestmask.ca).

[2022-08-31 01:46] humphd opened #184 "Fix failing integration tests with changes to Request form in #179"
In #179 we made changes that affected how the Address components are rendered in the form.  The [integration tests are failing now](https://github.com/EBSECan/donatemask/runs/8104712695?check_suite_focus=true), due to the `#request-address` selector being removed:

[code]

In the [updated code](https://github.com/EBSECan/donatemask/commit/96f83842bd3a00f4304afe22e3254ea04141d286#diff-420fb88d8f06e

[2022-09-04 21:53] mekkim commented on #165
So the request form is now properly capturing address line 1, 2, etc., but still pushing them as a combined address rather than separate fields when pushing to the backend:
[code]

[2022-09-04 21:53] mekkim commented on #165
@humphd : Is this related to my screw up with the fields when I tried to split them and push them separately?

[2022-09-05 19:06] humphd commented on #165
So you want to have the address components separate, no common "address" field?  If so, I can make the changes to do it on the front/back-end.  Let me know.

[2022-09-05 19:17] mekkim commented on #165
Sorry. I must have been unclear.  Yes, we need separate fields to match what the Canada Post software expects when it imports.  It wants the following separate fields:

- Full Name (as single field, not split first/last)
- email address
- Address Line 1
- Address Line 2 (optional - should be set as blank if not provided so as to keep csv field count constant)
- City
- Province (Only accepts two le

[2022-09-05 19:18] mekkim commented on #165
The front end is already set to the above with the latest pull, but the push to the backend is still combining some stuff.  I tried to get it right the first time but got something wrong with the backend push.

[2022-09-08 00:58] mekkim opened #188 "Add Description To People on About Page"
We already have a field that captures a "description" element or "profile" for each of the volunteers listed on our about page, but there's currently no way to display it.  Maybe we could add a hover element that displays the "description" of the person when hovering over their picture?  Or some other means?  I trust all y'all front end dev types who know the best way to do this!

[2022-09-12 06:32] Manish3212 commented on #188
hey there! would that be cool if I work on this?

[2022-09-12 15:48] mekkim commented on #188
Hi @Manish3212! Thanks for your kind offer!  No need to ask permission to work on stuff. If you're interested in something, go for it! :)

[2022-09-14 14:23] Manish3212 commented on #188
Hey! I guess the problem is that you want the description of  volunteers  for mask donation listed on  your website right?
but I am unable to access your website, can you please help me with that ,sir?
I accessed index.html in public directory but the site has not html but javascript.
I am a dedicated and fast learner if you just point out where I am going wrong. :)

[2022-09-14 22:13] mekkim commented on #188
The website is built in React.  You can see it in the main source tree.  The live build is not suitable for editing as it is an optimized reduction.

[2022-09-18 02:45] mekkim opened #191 "Update Report Generation for Additional Stats"
Update the report generation to include folks using masks/tests to return to school/work.  Could also include some interesting pivots/cross-sections while we're at it.

[2022-09-19 05:08] mekkim opened #193 "Create GitHub Actions To Send Automated Thank You Emails On Stripe Product Purchase Confirmation"
Right now, Stripe sends a basic payment confirmation and then a volunteer manually sends an email with a PDF of the transaction, a couple of paragraphs about our charity and what the money is spent on, and some pictures of the work we do that the money goes towards.
As our sales are rapidly growing, it's becoming burdensome for volunteers to manually send out all of these thank you emails, even wh

[2022-09-23 02:23] mekkim commented on #174
Update: Requirement is actually Legal name INCLUDING MIDDLE INITIAL.  Details: https://www.canada.ca/en/revenue-agency/services/charities-giving/charities/operating-a-registered-charity/issuing-receipts/what-information-must-on-official-donation-receipt-a-registered-charity.html

[2022-10-06 20:34] mekkim commented on #129
[Donate A Mask Poster 8.5x11.pdf](https://github.com/EBSECan/donatemask/files/9728427/Donate.A.Mask.Poster.8.5x11.pdf)
Updated PDF link since previous one seems dead.

[2022-10-26 18:15] #191 closed